global:
  resolve_timeout: 5m
route:
  receiver: 'slack-notifications'

receivers:
- name: 'slack-notifications'
  slack_configs:
  - api_url: 'https://hooks.slack.com/services/XXXXX/XXXXX/XXXXX'
    channel: '#alerts'
    text: '{{ range .Alerts }}{{ .Annotations.summary }}\n{{ end }}'
